.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-field-textarea {
  width: 100%;
}

.form-select-input-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-radio {
  margin-bottom: 20px;
}

.example-form-fields {
  display: flex;
  flex-direction: column;
}

.form-field-input {
  width: 100%;
  margin: 20px 0;
}

.show-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.show-container {
  width: 500px;
  word-break: break-all;
}
