<form class="form" (ngSubmit)="processText()">
  <mat-form-field class="form-field-textarea">
    <mat-label>Текст</mat-label>
    <textarea matInput [(ngModel)]="inputText" name="inputText"></textarea>
  </mat-form-field>

  <div class="form-select-input-radio">
    <div class="form-radio">
      <label>Преобразование: </label>
      <mat-radio-group
        class="radio-group"
        [(ngModel)]="isEncrypting"
        name="encryptionType"
      >
        <mat-radio-button [value]="true">Зашифровать</mat-radio-button>
        <mat-radio-button [value]="false">Расшифровать</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="example-form-fields">
      <mat-tab-group class="tab-group">
        <mat-tab label="Сдвиг">
          <mat-form-field class="form-field-input">
            <input
              matInput
              type="number"
              min="1"
              placeholder="Сдвиг"
              [(ngModel)]="shift"
              name="shift"
              required
            />
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Ключь">
          <mat-form-field class="form-field-input">
            <input
              matInput
              type="text"
              placeholder="Ключь"
              [(ngModel)]="key"
              name="key"
              required
            />
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>

      <mat-form-field class="form-field-input">
        <mat-select
          [(ngModel)]="selectedMethod"
          required
          name="encryptionMethod"
        >
          <mat-option value="Метод Цезаря">Метод Цезаря</mat-option>
          <mat-option value="Метод Двоичное шифрование"
            >Метод Двоичное шифрование</mat-option
          >
          <mat-option value="Метод 3">Метод 3</mat-option>
        </mat-select>
        <mat-label>Методы</mat-label>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button color="primary" type="submit">
    Старт <mat-icon>favorite</mat-icon>
  </button>
</form>

<div class="show-container">
  <p><strong>Результат: </strong> {{ outputText }}</p>
</div>
